#header {
    position: relative;
    text-align: center;
}

.overall-info {
    position: relative;
    text-align: center;
}

.overall-info {
    position: relative;
    text-align: center;
}

.contacts {
    position: relative;
    text-align: center;
}

.skills {
    position: relative;
    text-align: center;
}

.programs {
    position: relative;
    text-align: center;
}

.education {
    position: relative;
    text-align: center;
}
